.navbar{
    background:white;
}

.navbar-brand{
    padding:10px;
    background:lightseagreen;
    color:white;
  }
#white{
    color:white;
}

body{
    background:lightgray;
}

.box{
    margin:60px 60px 60px 5px;
    background:white;
    padding:10px 20px 25px;
}
.box2{
    margin:60px 60px 60px 5px;
    background:white;
    padding:10px 20px 70px;
}
.box1{
    margin: 60px 100px 60px 2px;
    background:white;
    padding:25px;
}

.graph{
    width:50%;
    height:50%;
}

.title1{
    font-size:25px;
    color:lightseagreen;
    font-weight: bold;
}

.title2{
    font-size:25px;
    color:lightseagreen;
    font-weight: bold;
}

.title3{
    font-size:25px;
    color:lightseagreen;
    font-weight:bold;
}

p{
    font-size:13px;
    color:gray;
}
.black{
    color:black;
}

.content-image {
    max-width: 400px;
   }
   .content-image-small {
    max-width: 150px;
   }
.graph_head{
    font-size:15px;
    color:lightseagreen;
    text-align:center;
    font-weight:bold;
    margin-bottom:0px;
}
  #fig1{border: 3px solid lightseagreen;}
